name: pytest
on: [push, pull_request]

env:
  USING_COVERAGE: "3.13"

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: 
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@main

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        make init

    - name: Run unit tests and linting
      run: |
        make test

    - name: Upload coverage to Codecov
      if: contains(env.USING_COVERAGE, matrix.python-version) && github.ref == 'refs/heads/master'
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        flags: unittests
        fail_ci_if_error: true
